# Ignore .DS_Store files everywhere
.DS_Store
**/.DS_Store

# Ignore dist directories for React apps
rootDomain/dist/
subDomain/docs/dist/
subDomain/media/dist/

# Ignore node_modules directories for React apps
rootDomain/node_modules/
subDomain/docs/node_modules/
subDomain/media/node_modules/

# Ignore package-lock.json files for React apps
rootDomain/package-lock.json
subDomain/docs/package-lock.json
subDomain/media/package-lock.json