[submodule "apps/Arche"]
    path = apps/Arche
    url = https://github.com/neurons-me/Arche.git
[submodule "apps/cleaker.me"]
    path = apps/cleaker.me
    url = https://github.com/neurons-me/cleaker.me.git
[submodule "apps/DelPais.mx"]
    path = apps/DelPais.mx
    url = https://github.com/neurons-me/DelPais.mx.git
[submodule "apps/FullTrailer"]
    path = apps/FullTrailer
    url = https://github.com/neurons-me/FullTrailer.git
[submodule "apps/mdrn"]
    path = apps/mdrn
    url = https://github.com/neurons-me/mdrn.git
[submodule "apps/mdrn"]
    path = apps/mdrn
    url = https://github.com/neurons-me/mlearningStudio.git
[submodule "apps/musicLab"]
    path = apps/musicLab
    url = https://github.com/neurons-me/musicLab.git
[submodule "apps/OrgBoat"]
    path = apps/OrgBoat
    url = https://github.com/neurons-me/OrgBoat.git
[submodule "apps/Polls.Studio"]
    path = apps/Polls.Studio
    url = https://github.com/neurons-me/Polls.Studio.git