<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>me.neurons.monad</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Applications/neurons.installer.app/Contents/MacOS/monad.ai</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/me.neurons.monad.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/me.neurons.monad.error.log</string>
</dict>
</plist>
